<span class="like-button" data-type="{{ type }}" data-id="{{ entity.id }}">
	{% if app.user and entity.isLikedByUser(app.user) %}
		<i id="like-icon" class="like fa-solid fa-heart"></i>
	{% else %}
		<i id="like-icon" class="like fa-regular fa-heart"></i>
	{% endif %}
	<span id="like-count">
		{{ entity.likes | length }}
    </span>
</span>
