{% if not post.tags.empty %}
	{% for tag in post.tags %}
		{% set isSameTag = tag.id == app.request.query.get('tag') %}
		<a href="{{ path('app_post_index', {'tag': isSameTag ? null : tag.id}) }}" class="tag-badge badge text-bg-{{ isSameTag ? 'success' : 'secondary' }}">
			{{ tag.name }}
		</a>
	{% endfor %}
{% endif %}
