{% extends 'base.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block main %}
	<div class="col-9">
		{% for post in posts %}
			{{ include('post/_post_card.html.twig') }}
		{% endfor %}
	</div>


{% endblock %}
