{% extends 'base.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block main %}
	<div class="col-9">
		{% for post in posts %}
			{{ include('post/_post_card.html.twig') }}
		{% endfor %}
		<div class="pagination d-flex justify-content-center">
			{{ knp_pagination_render(posts) }}
		</div>
	</div>
{% endblock %}
