{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block main %}

	<article class="post">
		<header>
			<h1 class="mb-4">{{ post.title }}</h1>
			<div class="author">
				<img class="author-image" src="https://placehold.co/400" alt="">
				<div class="username">
					<span>{{post.author.username}}
					</span>
					<span>
						Le
						{{post.createdAt | date("m/d/Y")}}
					</span>
				</div>
			</div>
		</header>
		<img src="https://placehold.co/800x600" class="img">
		<p class="content">{{ post.content | markdown_to_html }}</p>
		<div class="tags">
            <span>tag</span>
        </div>
	</article>

{% endblock %}
