{% extends "base.html.twig" %}

{% block body %}

	<div class="c">

		<article class="post-card">
			<div class="content">
				<div class="author">
					<img src="https://placehold.co/400" alt="" class="author-img">
					<span class="author-name">Vincent Guilbert</span>
				</div>
				<h1 class="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
				<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<div class="footer">
					<div class="tags">
						<span>tag</span>
						<span>tag</span>
						<span>tag</span>
					</div>
					<div class="stats">
						<span class="date">
							23/10/2025
						</span>
						<span>
							<i class="fa-solid fa-comment"></i>5
						</span>
						<span>
							<i class="fa-regular fa-heart"></i>10
						</span>
					</div>
				</div>
			</div>
			<img src="https://placehold.co/400" alt="" class="post-img">
		</article>

	</div>

{% endblock %}
