{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block main %}
	<div class="users-container">
		{% for user in users %}
			<a href="{{ path('app_user_show', {id: user.id}) }}">
				<article class="user-card">
					<img src="https://placehold.co/400" alt="" class="user-image">
					<span>{{ user.username }}</span>
				</article>
			</a>
		{% endfor %}

	</div>
{% endblock %}
